<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{{ url_for('static', filename='css/style.scss.css') }}"
  rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="/static/images/logo.svg">

<title>403 - Forbidden</title> 

</head>

<body class="bg-dark">
  <div class="container-fluid position-absolute top-30 start-0 bg-dark px-3" >
    <img src="/static/images/banner.svg" alt="logo" width="150" height="80">
    <h1 class="text-white display-5">You don't have permission to do that (403)</h1>
    <p class="text-secondary pb-1">Please check your account and try again!</p>
    <a href="{{ url_for('views.home') }}" class="text-decoration-none text-dark text-bg-primary border border-1 p-1 rounded-1">Return</a>
  </div>
</body>
