{% extends "base.html" %} {% block title %}Library - Libhub {% endblock %}{% block content%}
<body>
  <div
  class="img-fluid banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
  > 
  <main class="bg-text">
    <div class="px-4 py-5 my-5 text-center content">
      <img src="/static/images/library.svg" alt="my_library" class="d-block mx-auto">
      <div class="lead col-lg-6 mx-auto text-light fw-semibold">
        <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut nibh nec tellus ultricies consequat a molestie tortor. Aliquam nec ornare orci, ac posuere felis. Nam quis tellus velit. Praesent eu finibus mauris. Praesent ornare enim non elit rutrum, vel aliquet massa tempus.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          {% if user.is_authenticated %}
          <button type="button" class="btn btn-primary btn-lg px-4" onclick="window.location.href='#library'">Borrow a Book</button>
          <button type="button" class="btn btn-secondary btn-lg px-4" onclick="window.location.href='/lend'">Lend a Book</button>
          {% else %}
          <button type="button" class="btn btn-secondary btn-lg px-4" onclick="window.location.href='/sign-up'">Sign-Up for Free</button>
          {% endif %}
        </div>
      </div>
    </div>
  </main>

  </div>

  {% if books %}
  <div class="container-fluid p-5 d-grid" id="library" > 
    <div class="row row-cols-4 d-flex gy-3 gx-3 align-items-center justify-content-evenly p-0">
    {% for book in books %}
      <div class="card col-mb-4 p-0" style="width: 18rem;">
        <img src="./static/images/book.jpg" clas-s="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <h6 class="card-subtitle mb-2">{{ book.author }}</h6>
          {% if current_user.id == book.lender_id %}
          <a href="{{ url_for('views.edit', book_id=book.id ) }}">Edit</a>
          {% else %}
          <a href="{{ url_for('views.borrow', book_id=book.id) }}" class="text-warning text-decoration-none">Borrow this book?</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  {%else%}
  {%endif%}
</body>

{% endblock %}