{% extends "base.html" %} {% block title %}Library - Libhub {% endblock %}{% block content%}
<body>
  <div
  class="img-fluid banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
  > 
  <main class="bg-text">
    <div class="px-4 py-5 my-5 text-center content">
      <img src="/static/images/library.svg" alt="my_library" class="d-block mx-auto">
      <div class="lead col-lg-6 mx-auto text-light fw-semibold">
        <p class="lead mb-4 text-shadow-1">Welcome to the library! A extensive library with books to fit your needs. If you can't find! Lend it!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          {% if user.is_authenticated %}
          <button type="button" class="btn btn-primary btn-lg px-4" onclick="window.location.href='#library'">Borrow a Book</button>
          <button type="button" class="btn btn-secondary btn-lg px-4" onclick="window.location.href='/lend'">Lend a Book</button>
          {% else %}
          <button type="button" class="btn btn-secondary btn-lg px-4" onclick="window.location.href='/sign-up'">Sign-Up for Free</button>
          {% endif %}
        </div>
      </div>
    </div>
  </main>

  </div>

  {% if books %}
  <div class="container-fluid p-5" id="library"> 
    <div class="row row-cols-sm-1 row-cols-lg-4 row-cols-md-2 d-flex g-5 align-items-sm-center justify-content-sm-center p-0">
    {% for book in books %}
      <div class="col d-flex justify-content-center align-self-center">
        <div class="card p-0" style="width: 18rem;">
          <img src="./static/images/book.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-break" style="font-size: clamp(1rem, 1.3vw, 1.5rem);">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-wrap">{{ book.author }}</h6>
            {% if current_user.id == book.lender_user_id %}
              <a href="{{ url_for('views.edit', book_id=book.id ) }}">Edit</a>
            {% else %}
              <a href="{{ url_for('views.borrow', book_id=book.id) }}" class="text-warning text-decoration-none">Borrow this book?</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div> 
  </div>
  {%endif%}
  
  {% if user.is_authenticated %}
    <div class="d-flex justify-content-center align-items-center py-3">
      <a href="{{url_for('views.lended', user_id=current_user.id)}}">
        <button class="btn btn-secondary btn-md mb-3" type="button">Your Books</button>
        
      </a>
      <a href="{{url_for('views.borrowed', user_id=current_user.id)}}">
        <button class="btn btn-primary btn-md mb-3 mx-1" type="button">Borrowed Books</button>      
      </a>

      
    </div>
  {%endif%}
</body>

{% endblock %}