{% extends "base.html" %} {% block title %}Dashboard - Libhub {% endblock %}{% block content%}
<body>
  <div
  class="img-fluid banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
  > 
  <main class="bg-text">
    <div class="px-4 py-5 my-5 text-center content">
      <img src="./static/images/library.svg" alt="my_library" class="d-block mx-auto">
      <div class="lead col-lg-6 mx-auto text-light fw-semibold">
        <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut nibh nec tellus ultricies consequat a molestie tortor. Aliquam nec ornare orci, ac posuere felis. Nam quis tellus velit. Praesent eu finibus mauris. Praesent ornare enim non elit rutrum, vel aliquet massa tempus.</p>
      </div>
    </div>
  </main>

  </div>

{% endblock %}