{% extends "base.html" %} {% block title %}Editing {{book.title}}{% endblock %}{% block content
  %}
  
  <div class="container-fluid bg-dark vh-100 w-100 d-flex justify-content-center align-content-center">
    <main class="text-center w-auto m-auto border border-light rounded-3 py-4 px-5">
      <form method="POST">
        <img src="/static/images/Libhub-2.svg" alt="my_library" class="d-block mx-auto">
        <h1 class="h3 mb-3 fw-semibold text-light">Editing '{{ book.title }}'</h1>

        <div class="form-floating">
          <input name="title" type="text" class="form-control border border-3 border-info" id="floatingInput" placeholder="'Animal Farm'" value="{{ book.title }}">
          <label for="floatingInput">Title</label>
        </div>
  
        <div class="form-floating mt-4">
          <input name="author" type="text" class="form-control border border-3 border-info" id="floatingAuthor" placeholder="George Orwell" value="{{ book.author }}">
          <label for="floatingAuthor">Author</label>
        </div>

        <div class="form-floating mt-5">
          <input name="delete" type="text" class="form-control border border-3 border-warning" id="floatingInput" placeholder="" value="">
          <label for="floatingInput">Delete</label>
          <div id="deleteHelp" class="form-text text-light">To confirm please retype '{{book.title}}'.</div>
        </div>

        <div class="mt-4">
          <button class="btn btn-lg btn-primary w-100" type="submit">Save changes</button>
        </div>
        <p class="mt-5 mb-3 text-muted text-center text-light">&copy; 2022</p>

      </div>
      </form>
    </main>
  </div>
  {% endblock %}