{% extends "base.html" %} {% block title %}Libhub - Your Library{% endblock title %}
{% block content
%}
<body>
  <div
  class="img-fluid banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
  > 
  <main class="bg-text">
    <div class="px-4 py-5 my-5 text-center content">
      <img class="d-block mx-auto" src="./static/images/Libhub-4.svg" alt="logo" >
      <div class="lead col-lg-6 mx-auto text-light fw-semibold">
        <p class="lead mb-4 ">Libhub Incorporated. was founded, in 2022, by our esteemed CEO, Marcus Demafeliz. He had a dream that anyone, of any race, gender, and religion, can read a book at any time. Welcome to Libhub!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          {% if user.is_authenticated %}
          <button type="button" class="btn btn-outline-light btn-lg px-4 gap-3" onclick="window.location.href='/books'">Explore the Library</button>
          {% else %}
          <button type="button" class="btn btn-outline-light btn-lg px-4 gap-3" onclick="window.location.href='/books'">Explore the Library</button>
          <button type="button" class="btn btn-secondary btn-lg px-4" onclick="window.location.href='/sign-up'">Sign-Up for Free</button>
          {%endif%}
        </div>
      </div>
    </div>
  </main>

  </div>

  <div class="container-fluid my-5 d-grid">
    <div class="row row-cols-1 align-items-center justify-content-center overflow-hidden">

      <div class="text-center col-sm-12 text-center">
        <h3 class="text_2 fs-1 text-dark display-3 fw-semibold">Find your book using</h3>
      </div>  

      <div class="text-center col-sm-3 text-center mx-auto">
        <h3 class="text_3 fs-2 text-dark display-1 fw-normal">our extensive database.</h3>
      </div>  

      <div class="col-sm-12 mt-4 ps-4 offset-9">
        <form method="POST">
          <div class="input-group">
            <input name="search" type="search" class="form-control-lg border border-1 border-secondary" placeholder="Enter book" value="1984" aria-label="search" aria-describedby="button-addon">
          
            <button type="submit" class="btn btn-outline-secondary" id="button_addon">
              <i class="fa fa-search"></i>      
            </button>           
        </div>
        </form>
      </div>


    </div>
  </div>

</body>
{% endblock %}