{% extends "base.html" %} {% block title %}Libhub - Your Library{% endblock title %}
{% block content
%}
<body class="bg-dark">
  <div class="container-fluid position-absolute top-20 start-0 bg-dark px-3" >
    {%if results%}
      <h2 class="text-light px-4">Here's what we've found for '{{searchterm}}'</h2>
    {%else%}
      <h1 class="text-light">No results for '{{searchterm}}'</h1>
      <h3 class="text-primary">Can't find it, lend it!</h3>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
       <button type="button" class="btn btn-secondary btn-sm px-4" onclick="window.location.href='/lend'">Lend a Book</button>
       <button type="button" class="btn btn-primary btn-sm px-4" onclick="window.location.href='/'">Go back</button>
      </div>
    {%endif%}
  </div>

  {% if results %}
  <div class="container-fluid position-absolute top-30 start-0 bg px-3"> 
    <div class="position-relative d-flex align-items-start justify-content-sm-evenly row row-cols-4">
    {% for result in results %}
      <div class="card row-4 p-0" style="width: 12rem;">
        <img src="/static/images/book.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ result.title }}</h5>
          <h6 class="card-subtitle mb-2">{{ result.author }}</h6>
          {% if current_user.id == result.lender_id %}
          <a href="{{ url_for('views.edit', book_id=result.id ) }}">Edit</a>
          {% else %}
          <a href="{{ url_for('views.borrow', book_id=result.id) }}" class="text-warning text-decoration-none">Borrow this book?</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>  
  {%endif%}

</body>
{% endblock %}