{% extends "base.html" %} {% block title %}Libhub - Your Library{% endblock title %}
{% block content
%}
<body class="bg-dark">
  <div class="container-fluid position-absolute top-30 start-0 bg-dark px-3" >
   <h1 class="text-light">Here's what we've found for '{{searchterm}}'</h1>
  </div>

  {% if results %}
  <div class="container-fluid p-5 d-grid" id="library"> 
    <div class="row row-cols-4 d-flex align-items-center justify-content-evenly p-0">
    {% for result in results %}
      <div class="card col-mb-4 p-0" style="width: 18rem;">
        <img src="/static/images/book.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ result.title }}</h5>
          <h6 class="card-subtitle mb-2">{{ result.author }}</h6>
          {% if current_user.id == result.lender_id %}
          <a href="{{ url_for('views.edit', book_id=result.id ) }}">Edit</a>
          {% else %}
          <a href="{{ url_for('views.borrow', book_id=result.id) }}" class="text-warning text-decoration-none">Borrow this book?</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  {%endif%}

</body>
{% endblock %}