{% extends "base.html" %} {% block title %}Sign-Up - Libhub{% endblock %}{% block content
%}

<div class="container-fluid bg-dark vh-100 w-100 d-flex justify-content-center align-content-center">
  <main class="text-center w-auto m-auto border border-light rounded-3 px-4 py-4 ">
    <form method="POST">
      <img class="p-0 mb-2" src="./static/images/Libhub-2.svg" alt="logo">
      <h1 class="h3 mb-3 fw-semibold text-light">Sign Up</h1>

      <div class="form-floating">
        <input name="email" type="email" class="form-control border border-3 border-info" id="floatingInput" placeholder="name@example.com" value="{{ request.form['email'] }}">
        <label for="floatingInput">Email address</label>
        <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else</div>
      </div>
      <div class="form-floating mt-2">
        <input name="password1" type="password" class="form-control border border-3 border-info" id="floatingPassword" placeholder="Password" value="{{ request.form['password1'] }}">
        <label for="floatingPassword">Password</label>
        <div id="passwordHelp" class="form-text text-light">Your password must be at least 7 characters long</div>
      </div>
      <div class="form-floating mt-2">
        <input name="password2" type="password" class="form-control border border-3 border-info" id="floatingPassword" placeholder="Confirm password">
        <label for="floatingPassword">Confirm Password</label>
      </div>
      <br>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Create Account</button>
      <p class="mt-5 mb-3 text-muted text-center text-light">&copy; 2017-2022</p>
    </form>
  </main>
</div>
{% endblock %}