{% extends "base.html" %} {% block title %}Account Details - {{current_user.username}}{% endblock %}{% block content%}

<div class="container-fluid flex-grow-1 container-p-y vh-100 w-100 bg-dark overflow-hidden p-5">

  <h4 class="font-weight-bold py-5 mt-5 px-1 text-light mb-4">
    Account settings
  </h4>
  <form method="POST">
    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="{{url_for('views.account', user_id=current_user.id)}}">Username and Email</a>
            <a class="list-group-item list-group-item-action " data-toggle="list" href="{{url_for('views.passreset', user_id=current_user.id)}}">Password Reset</a>
            <a class="list-group-item list-group-item-action " data-toggle="list" href="{{url_for('views.infoedit', user_id=current_user.id)}}">Personal Information</a>
          </div>
        </div>
        <div class="col-md-9">

          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">
              <h4 class="font-weight-bold text-dark px-3 pt-3">
                Username and Email
              </h4>

              <hr class="border-light m-0">
              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">Username</label>
                  <input name="username" type="text" class="form-control mb-1" value="{{ current_user.username }}">
                </div>
                <div class="form-group">
                  <label class="form-label">Email</label>
                  <input name="email" type="text" class="form-control mb-1" value="{{ current_user.email }}">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right mt-3">
      <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Cancel</button>
    </div>
  </form>

</div>




  
{% endblock %}