{% extends "dashboard/dashboardbase.html" %}{% block title %}FAQs (Frequently Asked Questions){% endblock %}}{% block content%}

<div class=" accordion my-3">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How do we accept a borrower in Libhub?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="accordion-body">
        <h3>Accepting books:</h3>
        <ol>
          <li>Click the 'Books Lended' tab on the sidebar on the left</li>
          <li>You will see a list of the books you've lended. Here you can edit or delete books. Click on check status on the book you want to be borrowed.</li>
          <li>If anyone has requested to borrow a book, a list of the borrowers will be displayed. Here you can accept or deny borrowers.</li>
          <li>Once you've found a borrower to lend, click accept to see finalise the transaction.</li>
          <li>The borrower can now see you've accepted their borrow request.</li>
          <li><strong>It is your reponsibilty to deliver the book to the borower.</strong></li>
          <li><strong>You cannot accept borrowers who already borrowing books</strong></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        How do we borrow books using Libhub?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
      <div class="accordion-body">
        <h3>Borrowing books:</h3>
        <ol>
          <li>Borrow books from the library menu in the home section OR search in the front page.</li>
          <li>Click borrow this book and insert required personal details.</li>
          <li>The lender of the book will be notifed and can accpet or possibly deny or request. See its progress in the 'Books borrowed' tab <br> on the sidebar on the left.
          <strong>You must request for one book to have access to this page.</strong>
          </li>
          <li>Books will be seperated from 'pending requests' to 'borrowing now'. Here you will be able to keep track of books you've requested and borrowing.</li>
          <li>Once your request has been approved. you can see when to return the book (mostly 14 days after approval).</li>
          <li>When you've finished borrowing, click return book and the lender will be notifed that you've finished borrowing.</li>
          <li><strong>It is your responsibilty to return the book back to the lender.</strong></li>
          <li><strong>You only borrow one book at a time! But have multiple requests</strong></li>


        </ol>
      </div>
    </div>
  </div>  
</div>        

{% endblock %}

