<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
    rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/static/images/logo.svg">
    
    <title>Dashboard - {{current_user.username}}</title> 
    
  </head>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{{url_for('views.home')}}"><img src="/static/images/banner.svg" alt="logo-banner"></a>

    <button class="navbar-toggler d-md-none mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">

    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="{{url_for('auth.logout')}}">Sign out</a>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-info navbar collapse vh-100">
        <div class="nav nav-pills flex-column mb-auto">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for('views.dashboard', user_id=current_user.id)}}">
                <span data-feather="home" class="align-text-bottom"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('views.lended', user_id=current_user.id)}}">
                <span data-feather="file" class="align-text-bottom"></span>
                Books Lended
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('views.borrowed', user_id=current_user.id)}}" data-bs-toggle="tooltip" data-bs-placement="right" title="A 404 Error will occur if haven't requested for a book">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Books Borrowed
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('views.account', user_id=current_user.id)}}">
                <span data-feather="users" class="align-text-bottom"></span>
                Account Settings
              </a>
            </li>
            <hr>
            <li class="nav-item">
             <span class="px-3 fw-bold"> Logged in as:</span>
             <br>
             <a href="{{url_for('views.user', userid=current_user.id)}}"><span class="px-3 fs-6 fw-light">{{current_user.username}}</span></a>
            </li>
           
          </ul>
        </div>
      </nav>
      
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissable d-flex align-items-center fade show fixed-top" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          {{ message }}
          
          <button type="button" class="btn-close position-absolute top-25 end-0 me-3" data-bs-dismiss="alert" aria-label="Close"></button>     
        </div>
  
        {% else %}
        <div class="alert alert-success alert-dismissable d-flex align-items-center fade show fixed-top" role="alert">
  
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="me-2"
            id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
          {{ message }}
    
          <button type="button" class="btn-close position-absolute top-25 end-0 me-3" data-bs-dismiss="alert" aria-label="Close"></button> 
        </div>
  
        {% endif %}
        {% endfor %}
        {% endif %}
      {% endwith %}
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Welcome {{current_user.username}}!</h1>
        </div>
  

        <h2>{% block title %} {% endblock %}</h2>
        <div>{% block content %} {% endblock %}</div>
         
        </div>
      </main>
    </div>
  </div>


  <script 
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
  </script>

  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
  crossorigin="anonymous">
  </script>

  <script 
  src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" 
  integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" 
  crossorigin="anonymous">
  </script>

  <script
  type="text/javascript"
  src="{{ url_for('static', filename='javascript/script.js') }}"
  ></script>

  </body>
</html>