{% extends "base.html" %} {% block title %}Account Details - {{current_user.username}}{% endblock %}{% block content%}

<div class="container-fluid flex-grow-1 container-p-y vh-100 w-100 bg-dark overflow-hidden p-5">

  <h4 class="font-weight-bold py-5 mt-5 px-1 text-light mb-4">
    Account settings
  </h4>
  <form method="POST">
    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action" data-toggle="list" href="{{url_for('views.account', user_id=current_user.id)}}">Username and Email</a>
            <a class="list-group-item list-group-item-action " data-toggle="list" href="{{url_for('views.passreset', user_id=current_user.id)}}">Password Reset</a>
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="{{url_for('views.infoedit', user_id=current_user.id)}}">Personal Information</a>
          </div>
        </div>
        <div class="col-md-9">

          <div class="tab-content">
            <div class="tab-pane fade active show pt-3" id="account-general">

              <h4 class="font-weight-bold text-dark px-3">
                Personal Information
              </h4>

              <div class="card-body m-0">

                <div class="form-group">
                  <label class="form">First Name</label>
                  <input name="fName" type="text" class="form-control"  placeholder="First Name" value="{{ lender.fName }}">                 
                </div>

                <div class="form-group">
                  <label class="form">Last Name</label>
                  <input name="lName" type="text" class="form-control"  placeholder="Last Name" value="{{ lender.lName }}">                
                </div>

                <div class="form-group">
                  <label class="form">Address</label>
                  <input name="address" type="text" class="form-control"  placeholder="123 ABC St." value="{{lender.address1 }}">    
                </div>
                
                <div class="form-group">
                  <label class="form">City</label>
                  <input name="city" type="text" class="form-control"  placeholder="Christchurch" value="{{ lender.city }}">    
                </div>
         
                <div class="form-group">
                  <label class="form">Phone Number</label>
                  <input name="phone" type="text" class="form-control"  placeholder="Phone Number" value="0{{ lender.phone }}">    
                </div>

                <div class="form-group mt-3">
                  <input type="checkbox" value="checked" name="tcs">
                  <label class="text-dark">Agree to <a class="text-decoration-underline text-secondary" href="{{url_for('views.privacy')}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Open Terms and Conditions">terms and conditions</a></label>  
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right mt-3">
      <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Cancel</button>
    </div>
  </form>

</div>




  
{% endblock %}